.head-logo {
	margin-left: 6px;
	height: 100%;
	img {
		height: 100%;
		vertical-align: middle;
	}
	.logo-text {
		display: inline-block;
		color: red;
		font-weight: bolder;
		background-image: -webkit-linear-gradient(
			right,
			rgb(0, 255, 51),
			#034f56,
			rgb(248, 248, 245)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
