.head-logo {
	margin-left: 6px;
	height: 100%;
	img {
		height: 100%;
		vertical-align: middle;
	}
	.logo-text {
		display: inline-block;
		font-weight: bolder;
		background-image: @lo-hlog-backgroundImage;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		cursor: default;
		user-select: none;
	}
}
