.layout-head {
	width: 100vw;
	height: @lo-head-height;
	background-color: @lo-head-backgroundColor;
	.head-normal {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.white-space {
			flex: 1;
		}
	}
}
