@lo-head-backgroundColor: rgba(10, 10, 10, 1);
@lo-head-height: 7vh;
@lo-hlog-backgroundImage: -webkit-linear-gradient(
	right,
	rgb(0, 255, 51),
	#034f56,
	rgb(248, 248, 245)
);
@lo-hnav-border: 1px solid rgb(115, 124, 117);
@lo-hnav-color: #888888;
@lo-hnav-width: 60px;
@lo-hnava-color: #04b373;
@lo-hnav2-backgroundColor: rgba(10, 10, 10, 0.8);
@notification: {
	background-color: rgba(10, 10, 10, 0.8);
	color: #a7a5a5;
};
@notification-error: {
	color: #ff4d4f;
};
@notification-success: {
	color: #52c41a;
};
@notification-warning: {
	color: #faad14;
};
@notification-info: {
	color: #1890ff;
};
@notification-open: {
	color: #a7a5a5;
}; ;
